<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:fragment="BookFooterFragment">
				<footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2022</div>
                            <div>
                                <a href="#">HRDKOREA Copyright 2016 All right reserved. Human Resources Development Service of Korea.</a>
                            </div>
                        </div>
                    </div>
                </footer>
</html>