<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://github.com/ultraq/thymeleaf-layout-dialect"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="content">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
	<div class="container">
		<h3>게시글 정보</h3>
		<table class="table">

			<tr>
				<th>번호</th>
				<td th:text="${board.bno}"></td>
			</tr>
			<tr>
				<th>제목</th>
				<td>[[ ${board.title} ]]</td>
			</tr>
			<tr>
				<th>작성자</th>
				<td>[[ ${board.writer} ]]</td>
			</tr>
			<tr>
				<th>내용</th>
				<td>[[ ${board.contents} ]]</td>
			</tr>
			<tr>
				<th>첨부파일</th>
				<td> <!-- /image/cat.jpg  -->
				<img style="width:100px;" th:src="@{/images/{fileName}(fileName=${board.image})}">
				</td>
			</tr>
			<tr>
				<th>작성일자</th>
				<td>[[ ${#dates.format(board.regdate,'yyyy년MM월dd일')} ]]</td>
			</tr>


		</table>

		<div>
			<button  th:onclick="|location.href='@{/boardList}'|">목록</button>
		</div>
	</div>
</body>
</html>